.header img {
    float: left;
    width: 200px;
    height: 200px;
    background: rgb(236, 21, 182);
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .body p {
      position: relative;
      top: 18px;
      left: 30px;
  }
  .body img {
      width:100px;
      width:100px;
  }